In [1]:
import pandas as pd

In [2]:
df=pd.read_csv('profiles.csv')

C:\Users\hfran\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3444: DtypeWarning: Columns (1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,19,20,21,22,23,24,25,26,27,28,29,30) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

In [3]:
df.head()

,age,body_type,diet,drinks,drugs,education,essay0,essay1,essay2,essay3,...,location,offspring,orientation,pets,religion,sex,sign,smokes,speaks,status
0,22.0,a little extra,strictly anything,socially,never,working on college/university,about me:<br />\n<br />\ni would love to think...,currently working as an international agent fo...,making people laugh.<br />\nranting about a go...,"the way i look. i am a six foot half asian, ha...",...,"south san francisco, california","doesn&rsquo;t have kids, but might want them",straight,likes dogs and likes cats,agnosticism and very serious about it,m,gemini,sometimes,english,single
1,35.0,average,mostly other,often,sometimes,working on space camp,i am a chef: this is what that means.<br />\n1...,dedicating everyday to being an unbelievable b...,being silly. having ridiculous amonts of fun w...,NaN,...,"oakland, california","doesn&rsquo;t have kids, but might want them",straight,likes dogs and likes cats,agnosticism but not too serious about it,m,cancer,no,"english (fluently), spanish (poorly), french (...",single
2,38.0,thin,anything,socially,NaN,graduated from masters program,"i'm not ashamed of much, but writing public te...","i make nerdy software for musicians, artists, ...",improvising in different contexts. alternating...,my large jaw and large glasses are the physica...,...,"san francisco, california",NaN,straight,has cats,NaN,m,pisces but it doesn&rsquo;t matter,no,"english, french, c++",available
3,23.0,thin,vegetarian,socially,NaN,working on college/university,i work in a library and go to school. . .,reading things written by old dead people,playing synthesizers and organizing books acco...,socially awkward but i do my best,...,"berkeley, california",doesn&rsquo;t want kids,straight,likes cats,NaN,m,pisces,no,"english, german (poorly)",single
4,29.0,athletic,NaN,socially,never,graduated from college/university,hey how's it going? currently vague on the pro...,work work work work + play,creating imagery to look at:<br />\nhttp://bag...,i smile a lot and my inquisitive nature,...,"san francisco, california",NaN,straight,likes dogs and likes cats,NaN,m,aquarius,no,english,single

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 60552 entries, 0 to 60551
Data columns (total 31 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   age          9514 non-null   float64
 1   body_type    8666 non-null   object
 2   diet         5761 non-null   object
 3   drinks       9012 non-null   object
 4   drugs        7215 non-null   object
 5   education    8459 non-null   object
 6   essay0       8667 non-null   object
 7   essay1       8347 non-null   object
 8   essay2       8049 non-null   object
 9   essay3       7690 non-null   object
 10  essay4       7879 non-null   object
 11  essay5       7814 non-null   object
 12  essay6       7352 non-null   object
 13  essay7       7553 non-null   object
 14  essay8       6361 non-null   object
 15  essay9       7554 non-null   object
 16  ethnicity    8565 non-null   object
 17  height       9514 non-null   float64
 18  income       9514 non-null   float64
 19  job          8183 non-null   object
 20  last_online  9514 non-null   object
 21  location     9514 non-null   object
 22  offspring    3886 non-null   object
 23  orientation  9514 non-null   object
 24  pets         6352 non-null   object
 25  religion     6261 non-null   object
 26  sex          9514 non-null   object
 27  sign         7776 non-null   object
 28  smokes       8596 non-null   object
 29  speaks       9508 non-null   object
 30  status       9514 non-null   object
dtypes: float64(3), object(28)
memory usage: 14.3+ MB

In [5]:
df.isnull().sum()

age            51038
body_type      51886
diet           54791
drinks         51540
drugs          53337
education      52093
essay0         51885
essay1         52205
essay2         52503
essay3         52862
essay4         52673
essay5         52738
essay6         53200
essay7         52999
essay8         54191
essay9         52998
ethnicity      51987
height         51038
income         51038
job            52369
last_online    51038
location       51038
offspring      56666
orientation    51038
pets           54200
religion       54291
sex            51038
sign           52776
smokes         51956
speaks         51044
status         51038
dtype: int64

In [6]:
df=df.iloc[:9514] # sondaki boÅŸ kÄ±sÄ±mlarÄ± siliyoruz

In [7]:
df['orientation'].unique()

array(['straight', 'bisexual', 'gay'], dtype=object)

In [8]:
df['body_type'].unique()

array(['a little extra', 'average', 'thin', 'athletic', 'fit', nan,
       'skinny', 'curvy', 'full figured', 'jacked', 'rather not say',
       'used up', 'overweight'], dtype=object)

In [9]:
df=df.drop(['essay0','essay1','essay2','essay3','essay4','essay5','essay6','essay7','essay8','essay9'],axis=1)

In [10]:
df.shape, df.columns

((9514, 21),
 Index(['age', 'body_type', 'diet', 'drinks', 'drugs', 'education', 'ethnicity',
        'height', 'income', 'job', 'last_online', 'location', 'offspring',
        'orientation', 'pets', 'religion', 'sex', 'sign', 'smokes', 'speaks',
        'status'],
       dtype='object'))

In [11]:
df['status'].unique()

array(['single', 'available', 'seeing someone', 'married'], dtype=object)

In [12]:
df['body_type'].unique()

array(['a little extra', 'average', 'thin', 'athletic', 'fit', nan,
       'skinny', 'curvy', 'full figured', 'jacked', 'rather not say',
       'used up', 'overweight'], dtype=object)

In [13]:
df.replace({'athletic':'fit','curv':'full figured','rather not say':'nan','0':'nan'},inplace=True)
df.replace({'used up':'thin','skinny':'thin','a little extra':'average'},inplace=True)

In [14]:
df['body_type'].unique()

array(['average', 'thin', 'fit', nan, 'curvy', 'full figured', 'jacked',
       'nan', 'overweight'], dtype=object)

In [15]:
df['body_type'].value_counts()

fit             3928
average         2704
thin            1056
curvy            626
full figured     181
overweight        69
jacked            64
nan               38
Name: body_type, dtype: int64

In [16]:
df['diet'].unique()

array(['strictly anything', 'mostly other', 'anything', 'vegetarian', nan,
       'mostly anything', 'mostly vegetarian', 'strictly vegan',
       'strictly vegetarian', 'mostly vegan', 'strictly other',
       'mostly halal', 'other', 'vegan', 'mostly kosher',
       'strictly halal', 'halal', 'strictly kosher', 'kosher'],
      dtype=object)

In [17]:
df['diet']=df['diet'].str.replace('mostly','').str.replace('strictly','')

In [18]:
df.replace({'other':'anything'})

,age,body_type,diet,drinks,drugs,education,ethnicity,height,income,job,...,location,offspring,orientation,pets,religion,sex,sign,smokes,speaks,status
0,22.0,average,anything,socially,never,working on college/university,"asian, white",75.0,-1.0,transportation,...,"south san francisco, california","doesn&rsquo;t have kids, but might want them",straight,likes dogs and likes cats,agnosticism and very serious about it,m,gemini,sometimes,english,single
1,35.0,average,other,often,sometimes,working on space camp,white,70.0,80000.0,hospitality / travel,...,"oakland, california","doesn&rsquo;t have kids, but might want them",straight,likes dogs and likes cats,agnosticism but not too serious about it,m,cancer,no,"english (fluently), spanish (poorly), french (...",single
2,38.0,thin,anything,socially,NaN,graduated from masters program,NaN,68.0,-1.0,NaN,...,"san francisco, california",NaN,straight,has cats,NaN,m,pisces but it doesn&rsquo;t matter,no,"english, french, c++",available
3,23.0,thin,vegetarian,socially,NaN,working on college/university,white,71.0,20000.0,student,...,"berkeley, california",doesn&rsquo;t want kids,straight,likes cats,NaN,m,pisces,no,"english, german (poorly)",single
4,29.0,fit,NaN,socially,never,graduated from college/university,"asian, black, other",66.0,-1.0,artistic / musical / writer,...,"san francisco, california",NaN,straight,likes dogs and likes cats,NaN,m,aquarius,no,english,single
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9509,28.0,fit,anything,socially,never,working on med school,white,73.0,60000.0,medicine / health,...,"san francisco, california","doesn&rsquo;t have kids, but wants them",straight,likes dogs and likes cats,christianity,m,aries and it&rsquo;s fun to think about,no,"english, spanish (okay)",single
9510,31.0,fit,anything,socially,sometimes,NaN,white,72.0,-1.0,hospitality / travel,...,"san francisco, california",NaN,gay,NaN,atheism,m,scorpio but it doesn&rsquo;t matter,sometimes,english,single
9511,34.0,average,NaN,socially,NaN,dropped out of college/university,white,71.0,-1.0,hospitality / travel,...,"san francisco, california",doesn&rsquo;t want kids,gay,likes dogs and has cats,atheism and laughing about it,m,leo and it&rsquo;s fun to think about,when drinking,english (fluently),single
9512,29.0,fit,anything,rarely,never,two-year college,white,70.0,-1.0,NaN,...,"san francisco, california","doesn&rsquo;t have kids, and doesn&rsquo;t wan...",gay,likes dogs and has cats,NaN,m,aries,no,"english (fluently), french (okay), swedish (po...",single
9513,49.0,overweight,NaN,rarely,never,graduated from college/university,white,64.0,-1.0,nan,...,"castro valley, california",NaN,straight,likes dogs and likes cats,NaN,f,pisces and it&rsquo;s fun to think about,no,english,single

In [19]:
df['drinks'].unique()

array(['socially', 'often', 'not at all', 'rarely', nan, 'very often',
       'desperately'], dtype=object)

In [20]:
del df['religion']

In [21]:
df.replace({'often':2, 'very often':3, 'desperately':4, 'rarely':1,'socially':1,'not at all':0}, inplace=True)

In [22]:
df['drugs'].unique()

array(['never', 'sometimes', nan, 2], dtype=object)

In [23]:
df.replace({'never':0,'sometimes':1,'often':2},inplace=True)

In [24]:
df['education'].unique()

array(['working on college/university', 'working on space camp',
       'graduated from masters program',
       'graduated from college/university', 'working on two-year college',
       nan, 'graduated from high school', 'working on masters program',
       'graduated from space camp', 'college/university',
       'dropped out of space camp', 'graduated from ph.d program',
       'graduated from law school', 'working on ph.d program',
       'two-year college', 'graduated from two-year college',
       'working on med school', 'dropped out of college/university',
       'space camp', 'graduated from med school',
       'dropped out of high school', 'working on high school',
       'masters program', 'dropped out of ph.d program',
       'dropped out of two-year college', 'dropped out of med school',
       'high school', 'working on law school', 'law school',
       'dropped out of masters program', 'ph.d program',
       'dropped out of law school'], dtype=object)

In [25]:
df.replace({'working on college/university':5, 'working on space camp':5,
       'graduated from masters program':9,
       'graduated from college/university':6, 'working on two-year college':2,
       'nan':0, 'graduated from high school':1, 'working on masters program':9,
       'graduated from space camp':5, 'college/university':5,
       'dropped out of space camp':5, 'graduated from ph.d program':13,
       'graduated from law school':7, 'working on ph.d program':12,
       'two-year college':2, 'graduated from two-year college':3,
       'working on med school':5, 'dropped out of college/university':6,
       'space camp':5, 'graduated from med school':6,
       'dropped out of high school':0, 'working on high school':0,
       'masters program':8, 'dropped out of ph.d program':10,
       'dropped out of two-year college':1, 'dropped out of med school':4,
       'high school':1, 'working on law school':4, 'law school':6,
       'dropped out of masters program':7, 'ph.d program':11,
       'dropped out of law school':4},inplace=True)

In [26]:
df['education'].unique()

array([ 5.,  9.,  6.,  2., nan,  1., 13.,  7., 12.,  3.,  0.,  8., 10.,
        4., 11.])

In [27]:
df['job'].isnull().sum()

1331

In [28]:
df['job'].mode()

0    other
dtype: object

In [29]:
df['job']=df['job'].fillna('other')

In [30]:
df['location'].mode()

0    san francisco, california
dtype: object

In [31]:
df['location'][df['ethnicity']=='white'].mode()

0    san francisco, california
dtype: object

In [32]:
df['ethnicity']=df['ethnicity'].fillna('white')

In [33]:
df['pets'].unique()

array(['likes dogs and likes cats', 'has cats', 'likes cats', nan,
       'has dogs and likes cats', 'likes dogs and has cats',
       'likes dogs and dislikes cats', 'has dogs',
       'has dogs and dislikes cats', 'likes dogs',
       'has dogs and has cats', 'dislikes dogs and has cats',
       'dislikes dogs and dislikes cats', 'dislikes cats',
       'dislikes dogs and likes cats', 'dislikes dogs'], dtype=object)

In [34]:
df['pets'].mode()

0    likes dogs and likes cats
dtype: object

In [35]:
df['pets']=df['pets'].fillna('likes dogs and likes cats')

In [36]:
df['pets'].unique()

array(['likes dogs and likes cats', 'has cats', 'likes cats',
       'has dogs and likes cats', 'likes dogs and has cats',
       'likes dogs and dislikes cats', 'has dogs',
       'has dogs and dislikes cats', 'likes dogs',
       'has dogs and has cats', 'dislikes dogs and has cats',
       'dislikes dogs and dislikes cats', 'dislikes cats',
       'dislikes dogs and likes cats', 'dislikes dogs'], dtype=object)

In [37]:
df['offspring'].mode()

0    doesn&rsquo;t have kids
dtype: object

In [38]:
df['offspring']=df['offspring'].fillna('doesn&rsquo;t have kids')

In [39]:
df['smokes'].unique()

array([1, 'no', nan, 'when drinking', 'yes', 'trying to quit'],
      dtype=object)

In [40]:
df['smokes'].replace({'no':0,'when drinking':1, 'yes':1, 'trying to quit':0},inplace=True)

In [41]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()

In [42]:
df['status'].unique()

array(['single', 'available', 'seeing someone', 'married'], dtype=object)

In [43]:
df['status']=le.fit_transform(df['status'])

In [44]:
df['status'].unique()

array([3, 0, 2, 1])

In [45]:
df['drugs']=df['drugs'].fillna(0)

In [46]:
df['height']=df['height'].astype('int')
df['income']=df['income'].astype('int')
df['sex']=le.fit_transform(df['sex'])

### Filling missing values of smokes with XGBRegressor

In [47]:
df['smokes'].unique()

array([ 1.,  0., nan])

In [48]:
fill=df[df['smokes'].notnull()]
null=df[df['smokes'].isnull()]
fill['smokes']=fill['smokes'].astype('int')
fill['drugs']=fill['drugs'].astype('int')
fill.shape

C:\Users\hfran\AppData\Local\Temp/ipykernel_1176/3371370588.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fill['smokes']=fill['smokes'].astype('int')
C:\Users\hfran\AppData\Local\Temp/ipykernel_1176/3371370588.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fill['drugs']=fill['drugs'].astype('int')

(8596, 20)

In [49]:
x=fill[['age','height','sex','status','drugs']]
y=fill['smokes']
x.shape, y.shape

((8596, 5), (8596,))

In [50]:
from xgboost import XGBRegressor

In [51]:
xgbr=XGBRegressor()

In [52]:
xgbr.fit(x,y)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.300000012,
             max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=100, n_jobs=12,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [53]:
x=null[['age','height','sex','status','drugs']]
y=null['smokes']
x.shape,y.shape

((918, 5), (918,))

In [54]:
pred_smoke=xgbr.predict(x)

In [55]:
df.loc[df['smokes'].isnull(),'smokes']=xgbr.predict(x)
df['smokes'].isnull().sum()

0

### Filling missing value of education with XGBRegressor

In [56]:
df['education'].unique()

array([ 5.,  9.,  6.,  2., nan,  1., 13.,  7., 12.,  3.,  0.,  8., 10.,
        4., 11.])

In [57]:
fill=df[df['education'].notnull()]
null=df[df['education'].isnull()]
fill.shape

(8459, 20)

In [58]:
x=fill[['age','smokes','sex','status','drugs']]
y=fill['education']
x.shape, y.shape

((8459, 5), (8459,))

In [59]:
from xgboost import XGBRegressor
xgbr=XGBRegressor()
xgbr.fit(x,y)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.300000012,
             max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=100, n_jobs=12,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [60]:
x=null[['age','smokes','sex','status','drugs']]
y=null['education']
x.shape,y.shape

((1055, 5), (1055,))

In [61]:
df.loc[df['education'].isnull(),'education']=xgbr.predict(x)
df['education'].isnull().sum()

0

### Filling missing value of body_type with XGBRegressor

In [62]:
df['body_type'].unique()

array(['average', 'thin', 'fit', nan, 'curvy', 'full figured', 'jacked',
       0, 'overweight'], dtype=object)

In [63]:
df['body_type']=df['body_type'].replace({0:'nan'})

In [64]:
df['body_type'].unique()

array(['average', 'thin', 'fit', nan, 'curvy', 'full figured', 'jacked',
       'nan', 'overweight'], dtype=object)

In [65]:
fill=df[df['body_type'].notnull()]
null=df[df['body_type'].isnull()]
fill['body_type']=le.fit_transform(fill['body_type'])
fill.shape

C:\Users\hfran\AppData\Local\Temp/ipykernel_1176/1169225882.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fill['body_type']=le.fit_transform(fill['body_type'])

(8666, 20)

In [66]:
fill['body_type'].unique()

array([0, 7, 2, 1, 3, 4, 5, 6])

In [67]:
x=fill[['age','height','education','smokes','sex','status','drugs']]
y=fill['body_type']
x.shape, y.shape

((8666, 7), (8666,))

In [68]:
from xgboost import XGBRegressor
xgbr=XGBRegressor()
xgbr.fit(x,y)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.300000012,
             max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=100, n_jobs=12,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [69]:
x=null[['age','height','education','smokes','sex','status','drugs']]
y=null['body_type']
x.shape,y.shape

((848, 7), (848,))

In [70]:
df.loc[df['body_type'].isnull(),'body_type']=xgbr.predict(x)
df['body_type'].isnull().sum()

0

### Filling missing value of drinks with XGBRegressor

In [71]:
df['drinks'].unique()

array([ 1.,  2.,  0., nan,  3.,  4.])

In [72]:
fill=df[df['drinks'].notnull()]
null=df[df['drinks'].isnull()]
fill.shape

(9012, 20)

In [73]:
x=fill[['age','smokes','drugs']]
y=fill['drinks']
x.shape, y.shape

((9012, 3), (9012,))

In [74]:
from xgboost import XGBRegressor
xgbr=XGBRegressor()
xgbr.fit(x,y)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.300000012,
             max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=100, n_jobs=12,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [75]:
x=null[['age','smokes','drugs']]
y=null['drinks']
x.shape,y.shape

((502, 3), (502,))

In [76]:
df.loc[df['drinks'].isnull(),'drinks']=xgbr.predict(x)
df['drinks'].isnull().sum()

0

### Filling missing value of diet with XGBRegressor

In [77]:
df['diet'].unique()

array([' anything', ' other', 'anything', 'vegetarian', nan,
       ' vegetarian', ' vegan', ' halal', 'other', 'vegan', ' kosher',
       'halal', 'kosher'], dtype=object)

In [78]:
fill=df[df['diet'].notnull()]
null=df[df['diet'].isnull()]
fill['diet']=le.fit_transform(fill['diet'])
fill.shape

C:\Users\hfran\AppData\Local\Temp/ipykernel_1176/3817502262.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fill['diet']=le.fit_transform(fill['diet'])

(5761, 20)

In [79]:
x=fill[['age','height','smokes','sex','status','drugs','drinks']]
y=fill['diet']
x.shape, y.shape

((5761, 7), (5761,))

In [80]:
from xgboost import XGBRegressor
xgbr=XGBRegressor()
xgbr.fit(x,y)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, enable_categorical=False,
             gamma=0, gpu_id=-1, importance_type=None,
             interaction_constraints='', learning_rate=0.300000012,
             max_delta_step=0, max_depth=6, min_child_weight=1, missing=nan,
             monotone_constraints='()', n_estimators=100, n_jobs=12,
             num_parallel_tree=1, predictor='auto', random_state=0, reg_alpha=0,
             reg_lambda=1, scale_pos_weight=1, subsample=1, tree_method='exact',
             validate_parameters=1, verbosity=None)

In [81]:
x=null[['age','height','smokes','sex','status','drugs','drinks']]
y=null['diet']
x.shape, y.shape

((3753, 7), (3753,))

In [82]:
df.loc[df['diet'].isnull(),'diet']=xgbr.predict(x)
df['diet'].isnull().sum()

0

In [83]:
df.isnull().sum()

age               0
body_type         0
diet              0
drinks            0
drugs             0
education         0
ethnicity         0
height            0
income            0
job               0
last_online       0
location          0
offspring         0
orientation       0
pets              0
sex               0
sign           1738
smokes            0
speaks            6
status            0
dtype: int64

In [84]:
del df['sign']

In [85]:
df.isnull().sum()

age            0
body_type      0
diet           0
drinks         0
drugs          0
education      0
ethnicity      0
height         0
income         0
job            0
last_online    0
location       0
offspring      0
orientation    0
pets           0
sex            0
smokes         0
speaks         6
status         0
dtype: int64

In [86]:
from catboost import CatBoostRegressor,CatBoostClassifier
from sklearn.ensemble import AdaBoostRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.metrics import r2_score, mean_absolute_error, mean_squared_error
import numpy as np

In [87]:
df=pd.get_dummies(df)

In [88]:
df

,age,drinks,drugs,education,height,income,sex,smokes,status,body_type_0.025342073291540146,...,"speaks_english, turkish","speaks_english, turkish (fluently), italian (okay)","speaks_english, turkish, c++","speaks_english, urdu, french, arabic, russian (poorly)","speaks_english, vietnamese","speaks_english, vietnamese (okay)","speaks_english, vietnamese (okay), spanish (okay)","speaks_english, vietnamese (poorly)","speaks_english, vietnamese, spanish","speaks_english, yiddish (poorly)"
0,22.0,1.0,0.0,5.000000,75,-1,1,1.0,3,0,...,0,0,0,0,0,0,0,0,0,0
1,35.0,2.0,1.0,5.000000,70,80000,1,0.0,3,0,...,0,0,0,0,0,0,0,0,0,0
2,38.0,1.0,0.0,9.000000,68,-1,1,0.0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,23.0,1.0,0.0,5.000000,71,20000,1,0.0,3,0,...,0,0,0,0,0,0,0,0,0,0
4,29.0,1.0,0.0,6.000000,66,-1,1,0.0,3,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9509,28.0,1.0,0.0,5.000000,73,60000,1,0.0,3,0,...,0,0,0,0,0,0,0,0,0,0
9510,31.0,1.0,1.0,6.426177,72,-1,1,1.0,3,0,...,0,0,0,0,0,0,0,0,0,0
9511,34.0,1.0,0.0,6.000000,71,-1,1,1.0,3,0,...,0,0,0,0,0,0,0,0,0,0
9512,29.0,1.0,0.0,2.000000,70,-1,1,0.0,3,0,...,0,0,0,0,0,0,0,0,0,0
9513,49.0,1.0,0.0,6.000000,64,-1,0,0.0,3,0,...,0,0,0,0,0,0,0,0,0,0

In [89]:
y=df['age']
x=df.drop('age',axis=1)

In [90]:
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=40)

In [91]:
model = CatBoostRegressor(iterations=100,
                          learning_rate=1,
                          depth=3)

In [92]:
model.fit(x_train, y_train)

0:	learn: 8.4639141	total: 154ms	remaining: 15.2s
1:	learn: 8.1311303	total: 165ms	remaining: 8.06s
2:	learn: 7.9883221	total: 175ms	remaining: 5.66s
3:	learn: 7.9135840	total: 186ms	remaining: 4.45s
4:	learn: 7.7655075	total: 196ms	remaining: 3.72s
5:	learn: 7.6745853	total: 206ms	remaining: 3.22s
6:	learn: 7.6606418	total: 216ms	remaining: 2.87s
7:	learn: 7.6095650	total: 225ms	remaining: 2.59s
8:	learn: 7.6020929	total: 235ms	remaining: 2.38s
9:	learn: 7.5670910	total: 244ms	remaining: 2.2s
10:	learn: 7.5473657	total: 254ms	remaining: 2.05s
11:	learn: 7.5071506	total: 263ms	remaining: 1.93s
12:	learn: 7.4934421	total: 273ms	remaining: 1.82s
13:	learn: 7.4750810	total: 282ms	remaining: 1.73s
14:	learn: 7.4478653	total: 291ms	remaining: 1.65s
15:	learn: 7.4358594	total: 300ms	remaining: 1.58s
16:	learn: 7.4100997	total: 309ms	remaining: 1.51s
17:	learn: 7.3983668	total: 318ms	remaining: 1.45s
18:	learn: 7.3875221	total: 326ms	remaining: 1.39s
19:	learn: 7.3550031	total: 336ms	remaining: 1.34s
20:	learn: 7.3260550	total: 346ms	remaining: 1.3s
21:	learn: 7.3138030	total: 356ms	remaining: 1.26s
22:	learn: 7.3034456	total: 367ms	remaining: 1.23s
23:	learn: 7.2957260	total: 377ms	remaining: 1.19s
24:	learn: 7.2782590	total: 386ms	remaining: 1.16s
25:	learn: 7.2690553	total: 395ms	remaining: 1.13s
26:	learn: 7.2588906	total: 405ms	remaining: 1.09s
27:	learn: 7.2491361	total: 414ms	remaining: 1.06s
28:	learn: 7.2399819	total: 423ms	remaining: 1.03s
29:	learn: 7.2319044	total: 432ms	remaining: 1.01s
30:	learn: 7.2177262	total: 441ms	remaining: 982ms
31:	learn: 7.2092424	total: 450ms	remaining: 957ms
32:	learn: 7.1911130	total: 459ms	remaining: 932ms
33:	learn: 7.1826210	total: 469ms	remaining: 910ms
34:	learn: 7.1597063	total: 478ms	remaining: 888ms
35:	learn: 7.1516018	total: 487ms	remaining: 866ms
36:	learn: 7.1406329	total: 496ms	remaining: 844ms
37:	learn: 7.1326784	total: 505ms	remaining: 824ms
38:	learn: 7.1198700	total: 514ms	remaining: 803ms
39:	learn: 7.1131210	total: 522ms	remaining: 783ms
40:	learn: 7.1054922	total: 530ms	remaining: 763ms
41:	learn: 7.0991763	total: 539ms	remaining: 744ms
42:	learn: 7.0897495	total: 548ms	remaining: 727ms
43:	learn: 7.0825489	total: 569ms	remaining: 724ms
44:	learn: 7.0755103	total: 578ms	remaining: 706ms
45:	learn: 7.0606759	total: 586ms	remaining: 688ms
46:	learn: 7.0390282	total: 595ms	remaining: 670ms
47:	learn: 7.0287223	total: 603ms	remaining: 653ms
48:	learn: 7.0140118	total: 611ms	remaining: 636ms
49:	learn: 7.0067683	total: 619ms	remaining: 619ms
50:	learn: 6.9961761	total: 628ms	remaining: 603ms
51:	learn: 6.9892656	total: 636ms	remaining: 587ms
52:	learn: 6.9825541	total: 644ms	remaining: 571ms
53:	learn: 6.9759146	total: 652ms	remaining: 556ms
54:	learn: 6.9693371	total: 661ms	remaining: 541ms
55:	learn: 6.9628212	total: 669ms	remaining: 526ms
56:	learn: 6.9563390	total: 678ms	remaining: 512ms
57:	learn: 6.9422107	total: 687ms	remaining: 497ms
58:	learn: 6.9247921	total: 696ms	remaining: 483ms
59:	learn: 6.9183649	total: 705ms	remaining: 470ms
60:	learn: 6.9031722	total: 713ms	remaining: 456ms
61:	learn: 6.8970743	total: 721ms	remaining: 442ms
62:	learn: 6.8907446	total: 730ms	remaining: 429ms
63:	learn: 6.8670712	total: 739ms	remaining: 416ms
64:	learn: 6.8583011	total: 748ms	remaining: 403ms
65:	learn: 6.8521187	total: 756ms	remaining: 390ms
66:	learn: 6.8460176	total: 765ms	remaining: 377ms
67:	learn: 6.8336012	total: 774ms	remaining: 364ms
68:	learn: 6.8274637	total: 783ms	remaining: 352ms
69:	learn: 6.8188671	total: 792ms	remaining: 339ms
70:	learn: 6.8075613	total: 801ms	remaining: 327ms
71:	learn: 6.8021904	total: 809ms	remaining: 315ms
72:	learn: 6.7968628	total: 818ms	remaining: 302ms
73:	learn: 6.7884417	total: 826ms	remaining: 290ms
74:	learn: 6.7796144	total: 835ms	remaining: 278ms
75:	learn: 6.7744907	total: 844ms	remaining: 266ms
76:	learn: 6.7686459	total: 852ms	remaining: 255ms
77:	learn: 6.7628415	total: 861ms	remaining: 243ms
78:	learn: 6.7571242	total: 869ms	remaining: 231ms
79:	learn: 6.7425997	total: 878ms	remaining: 220ms
80:	learn: 6.7369399	total: 887ms	remaining: 208ms
81:	learn: 6.7298113	total: 896ms	remaining: 197ms
82:	learn: 6.7241667	total: 905ms	remaining: 185ms
83:	learn: 6.7196630	total: 914ms	remaining: 174ms
84:	learn: 6.7142058	total: 924ms	remaining: 163ms
85:	learn: 6.7087685	total: 933ms	remaining: 152ms
86:	learn: 6.6804753	total: 944ms	remaining: 141ms
87:	learn: 6.6746809	total: 953ms	remaining: 130ms
88:	learn: 6.6635567	total: 962ms	remaining: 119ms
89:	learn: 6.6562938	total: 972ms	remaining: 108ms
90:	learn: 6.6507348	total: 981ms	remaining: 97ms
91:	learn: 6.6460422	total: 990ms	remaining: 86.1ms
92:	learn: 6.6407406	total: 1000ms	remaining: 75.2ms
93:	learn: 6.6355630	total: 1.01s	remaining: 64.4ms
94:	learn: 6.6283615	total: 1.02s	remaining: 53.6ms
95:	learn: 6.6232491	total: 1.03s	remaining: 42.8ms
96:	learn: 6.6182444	total: 1.03s	remaining: 32ms
97:	learn: 6.6136368	total: 1.04s	remaining: 21.3ms
98:	learn: 6.6086610	total: 1.05s	remaining: 10.6ms
99:	learn: 6.6007559	total: 1.06s	remaining: 0us

In [93]:
preds = model.predict(x_test)
preds

array([53.97998782, 30.72464715, 47.58544457, ..., 32.95735351,
       34.30780184, 27.76050057])

In [94]:
(mean_squared_error(y_test,preds))**2

3158.813469469409

In [95]:
r2_score(y_test,preds)

0.35145487302962863